* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 10px;
  margin: 0;
}
#canvas {
  display: inline-block;
  border: 2px solid #333;
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#canvas.victory {
  background-color: #FFD700;
}
div.instructions {
  display: inline-block;
  max-width: 600px;
  vertical-align: top;
  padding-left: 10px;
  color: #fff;
}
div.instructions p.dimmed {
  color: #888;
}
div.instructions p.controls img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
div.instructions p.meta {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin: 0 25px;
  text-align: center;
  color: #aaa;
  font-size: 0.8em;
}
div.instructions p.meta a {
  text-decoration: underline;
  color: #ccc;
}
div.instructions p.advancedInstructions {
  color: #fff;
}
#reset {
  padding: 10px 20px;
  background-color: #FFD700;
  border: none;
  color: #333;
  text-transform: uppercase;
}
#reset:hover {
  text-decoration: underline;
  border-left: 5px solid #bba100;
  padding-left: 15px;
}
