* { box-sizing:border-box; }
body {
	background-color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:10px;
	margin:0;
}
#canvas {
	display:inline-block;
	border:2px solid #333;
	margin:0 auto;
	text-align:center;
	background-color:#fafafa;
	&.victory {
		background-color:#FFD700;
	}
}
div.instructions {
	display:inline-block;
	max-width:600px;
	vertical-align:top;
	padding-left:10px;
	color:#fff;
	p.controls img {
		width: 40px;
		height: 40px;
		vertical-align:middle;
	}
	p.meta {
		border-top:1px solid #ccc;
		padding-top:15px;
		margin:0 25px;
		text-align:center;
		color:#aaa;
		font-size:0.8em;
		a {
			text-decoration:underline;
			color:#ccc;
		}
	}
}
